bin/Debug/net5.0/newChromat
bin/Debug/net5.0/newChromat.deps.json
bin/Debug/net5.0/newChromat.dll
bin/Debug/net5.0/newChromat.pdb
bin/Debug/net5.0/newChromat.Views.dll
bin/Debug/net5.0/newChromat.Views.pdb
bin/Debug/net5.0/web.config
bin/Debug/net5.0/ref/newChromat.dll
bin/Release/net5.0/newChromat
bin/Release/net5.0/newChromat.deps.json
bin/Release/net5.0/newChromat.dll
bin/Release/net5.0/newChromat.pdb
bin/Release/net5.0/newChromat.Views.dll
bin/Release/net5.0/newChromat.Views.pdb
bin/Release/net5.0/web.config
bin/Release/net5.0/publish/newChromat
bin/Release/net5.0/publish/newChromat.deps.json
bin/Release/net5.0/publish/newChromat.dll
bin/Release/net5.0/publish/newChromat.pdb
bin/Release/net5.0/publish/newChromat.Views.dll
bin/Release/net5.0/publish/newChromat.Views.pdb
bin/Release/net5.0/publish/web.config
bin/Release/net5.0/publish/wwwroot/css/layout.css
bin/Release/net5.0/publish/wwwroot/js/layout.min.js
bin/Release/net5.0/publish/wwwroot/js/site.js
bin/Release/net5.0/publish/wwwroot/js/site.min.js
bin/Release/net5.0/ref/newChromat.dll
bin/Debug/net5.0/newChromat
bin/Debug/net5.0/newChromat.deps.json
bin/Debug/net5.0/newChromat.dll
bin/Debug/net5.0/newChromat.pdb
bin/Debug/net5.0/newChromat.Views.dll
bin/Debug/net5.0/newChromat.Views.pdb
bin/Debug/net5.0/ref/newChromat.dll
bin/Release/net5.0/newChromat
bin/Release/net5.0/newChromat.deps.json
bin/Release/net5.0/newChromat.dll
bin/Release/net5.0/newChromat.pdb
bin/Release/net5.0/newChromat.Views.dll
bin/Release/net5.0/newChromat.Views.pdb
bin/Release/net5.0/publish/newChromat
bin/Release/net5.0/publish/newChromat.deps.json
bin/Release/net5.0/publish/newChromat.dll
bin/Release/net5.0/publish/newChromat.pdb
bin/Release/net5.0/publish/newChromat.Views.dll
bin/Release/net5.0/publish/newChromat.Views.pdb
bin/Release/net5.0/publish/web.config
bin/Release/net5.0/publish/wwwroot/css/layout.css
bin/Release/net5.0/publish/wwwroot/js/layout.min.js
bin/Release/net5.0/publish/wwwroot/js/site.js
bin/Release/net5.0/publish/wwwroot/js/site.min.js
bin/Release/net5.0/ref/newChromat.dll
obj/newChromat.csproj.nuget.dgspec.json
obj/newChromat.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/apphost
obj/Debug/net5.0/newChromat.assets.cache
obj/Debug/net5.0/newChromat.csproj.AssemblyReference.cache
obj/Debug/net5.0/newChromat.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/newChromat.csproj.FileListAbsolute.txt
obj/Debug/net5.0/newChromat.csprojAssemblyReference.cache
obj/Debug/net5.0/newChromat.dll
obj/Debug/net5.0/newChromat.pdb
obj/Debug/net5.0/newChromat.Views.dll
obj/Debug/net5.0/newChromat.Views.pdb
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/net5.0/ref/newChromat.dll
obj/Release/net5.0/apphost
obj/Release/net5.0/newChromat.assets.cache
obj/Release/net5.0/newChromat.csproj.AssemblyReference.cache
obj/Release/net5.0/newChromat.csproj.CoreCompileInputs.cache
obj/Release/net5.0/newChromat.csproj.FileListAbsolute.txt
obj/Release/net5.0/newChromat.csprojAssemblyReference.cache
obj/Release/net5.0/newChromat.dll
obj/Release/net5.0/newChromat.pdb
obj/Release/net5.0/newChromat.Views.dll
obj/Release/net5.0/newChromat.Views.pdb
obj/Release/net5.0/PublishOutputs.917557aa04.txt
obj/Release/net5.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Release/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Release/net5.0/ref/newChromat.dll
