@using System.Web;
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "Chromat - nie tylko fotografia";
}
@if(TempData["Message"] != null) {
<div class="msg">
    <p>@TempData["Message"]</p>
</div>
} else if(TempData["ErrorMessage"] != null) {
<div class="msg error">
    <p>@TempData["ErrorMessage"]</p>
</div>
}
<!-- Start Home Section -->
<div id="home">
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"><img src="img/logosmall.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#home">Początek</a></li>
            <li class="nav-item"><a class="nav-link" href="#welcome">O nas</a></li>
            <li class="nav-item"><a class="nav-link" href="#products">Produkty</a></li>
            <li class="nav-item"><a class="nav-link" href="#pricetab">Cennik</a></li>
            <li class="nav-item"><a class="nav-link" href="#echromat">Zamówienie przez internet</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Kontakt</a></li>
        </ul>
    </div>
</nav>
<!-- End Navigation -->

<!-- Start Landing Page Section -->
<div class="landing">
    <div class="home-wrap">
        <div class="home-inner">

        </div>
    </div>
</div>

<div class="caption text-center">
    <img src="img/logochr.png">
    <h1>Witamy na stronie</h1>
    <h3>Chromat - Nie tylko fotografia</h3>
    <a class="btn btn-outline-light btn-lg" href="#welcome">Zaczynamy</a>
</div>
<!-- End Landing Page Section -->

</div>
<!-- End Home Section -->

<!-- Sekcja informacyjna -->
<div id="welcome" class="offset">
    @await Html.PartialAsync("Partials/_Info");
</div>
<!-- End Sekcja informacyjna -->

<!-- Produkty -->
<div id="products" class="offset">
    @await Html.PartialAsync("Partials/_Products");
</div>
<!-- End Produkty -->

<!-- Start Resources Section -->
<div id="pricetab" class="offset">

<div class="fixed-background">

<div class="row dark text-center">
    <div class="col-12">
        <h3 class="heading">Cennik</h3>
        <div class="heading-underline"></div>
    </div>

    <div class="col-md-4">
        <h3>ODBITKI</h3>
        <div class="feature">
            <i class="fas fa-calculator fa-3x"></i>
        </div>
        <p>Tu możesz wyliczyć cenę swojego potencjalnego zamówienia na podstawie ilości i rozmiaru odbitek
                   (Według cen za zamówienie przez internet):</p>
        
        @await Html.PartialAsync("Partials/_OrderPhotos")

    </div>
    <!-- Cennik - zdjęcia do dokumentów i wydruki na płótnie -->
    @await Html.PartialAsync("Partials/_Pricelist")

    <div class="col-12">
        <a class="btn btn-secondary btn-md" href="misc/cennik.pdf" target="_blank">Pełny cennik dostępny jest tutaj</a>
    </div>
</div><!-- End Row Dark -->
    <div class="fixed-wrap">
        <div class="fixed">
        </div>
    </div>
</div><!-- End Fixed Background -->

</div>
<!-- End Resources Section -->

<!-- Aplikacje do zamawiania zdjęć -->
<div id="echromat" class="offset">

<div class="col-12 narrow text-center">
    <p class="lead">Zapraszamy do skorzystania z naszych aplikacji do składania zamówień przez internet!
                    W aplikacji internetowej znajduje się także spis gadżetów i&nbsp;tekstyliów, na które wykonujemy nadruki
                    (wraz z cenami). Jeśli masz jakiś problem z aplikacją, prosimy o kontakt.</p>
    <a class="btn btn-secondary btn-md" href="https://e.chromat.pl" target="_blank">Aplikacja internetowa (jak na razie max. 199 plików/ZLECENIE)</a>
    <a class="btn btn-secondary btn-md" href="aplikacja/aplikacja.html" target="_blank">Aplikacja, którą mozesz zainstalować na komputerze z systemem windows</a>
</div>

</div>
<!-- End Aplikacje do zamawiania zdjęć -->

<!-- Start Contact Section -->
<div id="contact" class="offset">

<footer>
    @await Html.PartialAsync("Partials/_FooterInfo")
</footer>

</div>
<!-- End Contact Section -->

<!--- Script Source Files -->
<script src="~/js/site.js"></script>
<script>
    function AreUSure(){
        let conf = confirm("Na pewno?");
        if(conf){
            document.getElementById("spinner").style.display = "inline-block";
        }
        return conf;
    }
    
</script>
<!--- End of Script Source Files -->
