<div class="col-12 narrow text-center">
    <h1>Firma fotograficzna Chromat sp. z o.o.</h1>
    <p class="lead">Witamy na stronie Chromatu - firmy fotograficznej z ponad 30-letnią tradycją.
    Zajmujemy się wieloma gałęziami fotografii, od zwykłych odbitkek, poprzez gadżety z nadrukami, takie jak
    puzzle, kubki, poduszki i wiele innych, po wydruki wielkoformatowe i płótna.</p>
    <h3><b>UWAGA:</b></h3>
    <p class="lead">Ze względu na pandemię koronawirusa sklep będzie otwarty w następujących godzinach:</p>
    <table class="none" style="margin-left: auto; margin-right: auto">
        <tr>
           <td><b>PONIEDZIAŁEK-PIĄTEK</b></td>
           <td>9:00-13:00</td>
       </tr>
       <tr>
           <td><b>SOBOTA</b></td>
           <td>10:00-12:00</td>
       </tr>
    </table>
</div>
