<div class="col-md-4">
        <h3>ZDJĘCIA DO DOKUMENTÓW</h3>
        <div class="feature">
            <i class="far fa-id-card fa-3x"></i>
        </div>
                <table class="table pricetab" style="color: white">
                    <thead>
                        <tr>
                            <th>Typ dokumentu</th>
                            <th>Ilość sztuk</th>
                            <th>Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>legitymacja</td>
                            <td>4 szt.</td>
                            <td>26,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>8 szt.</td>
                            <td>32,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>dodatkowa odbitka</td>
                            <td>2,50zł</td>
                        </tr>
                        <tr>
                            <td>Paszport, dowód, wiza, prawo jazdy</td>
                            <td>4 szt.</td>
                            <td>31,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>8 szt.</td>
                            <td>37,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>dodatkowa odbitka</td>
                            <td>2,50zł</td>
                        </tr>
                        <tr>
                            <td>Dyplom</td>
                            <td>4 szt.</td>
                            <td>32,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>8 szt.</td>
                            <td>38,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Możliwa liczba odbitek: 4,8,12 itd.</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
    </div>
    <div class="col-md-4">
        <h3>WYDRUKI NA PŁÓTNIE</h3>
        <div class="feature">
            <i class="fas fa-image fa-3x"></i>
        </div>
                <table class="table pricetab" style="width: 70%; margin-left: auto; margin-right: auto; color: white">
                    <thead>
                        <tr>
                            <th>Format w cm</th>
                            <th>Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20x30</td>
                            <td>43,00zł</td>
                        </tr>
                        <tr>
                            <td>30x42</td>
                            <td>52,00zł</td>
                        </tr>
                        <tr>
                            <td>40x50</td>
                            <td>65,00zł</td>
                        </tr>
                        <tr>
                            <td>40x60</td>
                            <td>69,00zł</td>
                        </tr>
                        <tr>
                            <td>50x70</td>
                            <td>85,00zł</td>
                        </tr>
                        <tr>
                            <td>60x90</td>
                            <td>105,00zł</td>
                        </tr>
                        <tr>
                            <td>70x100</td>
                            <td>139,00zł</td>
                        </tr>
                        <tr>
                            <td>100x100</td>
                            <td>150,00zł</td>
                        </tr>
                        <tr>
                            <td>100x150</td>
                            <td>195,00zł</td>
                        </tr>
                        <tr>
                            <td>100x200</td>
                            <td>260,00zł</td>
                        </tr>
                    </tbody>
                </table>
    </div>