<!-- Start Jumbotron -->
<div class="jumbotron">
<div class="narrow text-center">
    <div class="col-12">
        <h3 class="heading">PRODUKTY</h3>
        <div class="heading-underline"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="feature">
                <i class="far fa-images fa-4x" data-fa-transform="shrink-3 up-5"></i>
                <h3>Odbitki</h3>
                <p>Wykonujemy odbitki zarówno w najpopularniejszych rozmiarach, jak i w niestandardowych. Przy większej ilości odbitek
                rabaty nawet do <b>45%</b>!</p>
            </div>
        </div>
                <div class="col-md-4">
            <div class="feature">
                <i class="fas fa-search-plus fa-4x" data-fa-transform="shrink-4 up-5"></i>
                <h3>Powiększanie zdjęć</h3>
                                <p>Możemy również wykonać Twoje zdjęcie na większych formatach. Nawet do <b>70x100cm</b>. W <a href="misc/cennik.pdf" target="_blank">cenniku</a> znaduje się aktualny koszt usługi.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature">
                <i class="far fa-image fa-4x" data-fa-transform="shrink-4 up-5"></i>
                <h3>Wydruki na płótnie</h3>
                <p>Wydrukujemy Twoje zdjęcie na płótnie, nadając mu niepowtarzalnego charakteru.</p>
            </div>
        </div>
                <div class="col-md-4">
            <div class="feature">
                <i class="fas fa-film fa-4x" data-fa-transform="shrink-4 up-5"></i>
                <h3>Przegrywamy kasety</h3>
                                <p>Przegrywamy kasety VHS, Video8, Digital8, Hi8, miniDV na DVD. W <a href="misc/cennik.pdf" target="_blank">cenniku</a> znaduje się aktualny koszt usługi.</p>
            </div>
        </div>
                <div class="col-md-4">
            <div class="feature">
                <i class="fas fa-coffee fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
                <h3>Gadżety</h3>
                <p>Tworzymy nadruki na różnych gadżetach, takich jak kubki, koszulki, poduszki, puzzle i inne.
                    Zbiór wszystkich gadżetów znajdziesz na naszej aplikacji internetowej. Jeśli nie ma tego, czego szukasz -
                    pisz. Zobaczymy, co da się zrobić :)</p>
            </div>
        </div>
                <div class="col-md-4">
            <div class="feature">
                <i class="fas fa-camera-retro fa-4x" data-fa-transform="shrink-4 up-5"></i>
                <h3>Retusz zdjęć</h3>
                <p>Jeśli masz starą, wyblakłą fotografię, przynieś ją do nas, a przywrócimy jej dawny blask! W <a href="misc/cennik.pdf" target="_blank">cenniku</a> znaduje się aktualny koszt usługi.</p>
            </div>
        </div>
    </div><!-- End Row -->
</div><!-- End Narrow -->
</div><!-- End Jumbotron -->

